.encabezado {
  padding-top: 5px; 
  padding-bottom: 5px;
}
.encabezado h1, .card-titulo,.parrafo-carrousel {
  color:  #0d7b5c;}
.encabezado h2, .encabezado p, .parrafo-servicios {
  color: #444948; 
}
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
.navbar {
  background-color: #0d7b5c; 
  color: white; 
}
header {background-color: #f8f9fa;}
a.nav-link, .navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: #F8F8F8;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}
#contenedor-servicios{
  background-color: #0d7b5c; 
  text-align: center; 
  color: #fff; 
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-texto{
  color: #343a40;
  text-align: center;
}
.profesionales{

  text-align: center;
  background-color: rgb(222, 247, 240);
  }
.profesionales p{
  text-align: justify;
}
.servicios img{
  max-width: 250;
}
h2 em{
  padding: 5px;
  background-color: #0d7b5c; 
  color: #F8F8F8;
}
.card-servicios{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px; 
    justify-content: center!important;
}
#logo{

  width: 100px;
  height: 60px;
}
.card-servicios .card {
  margin-bottom: 5px; 
}

h1, h2, h3, p, a {
    color: #0d7b5c; 
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
#margen-mapa{
margin: 20px 50px 50px 20px;
}
#p-ubicacion{
  color: #343a40;
  text-align: left;
}
.carousel-inner img {
  display: block;
  width: 100%;
  height: 100%;
}
.parrafo-carrousel{
text-align: center;
}
h3{
  text-align: center;
}
footer h3{
  text-align: left;
  color: #fff;
}

a,  footer p{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.card {margin: 10px;}
footer {
  background-color: #0d7b5c; 
  color: white; 
  margin-top: 10px;
  text-align: left;
}
.container-custom {
  padding-top: 20px;
  padding-bottom: 20px; 
}
.mi-boton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #007bff; 
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px; 
}
.mi-boton:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
  color: #fff;  
}

.ofertas-especiales{
  margin: 10px;
}
.formulario {
  margin-bottom: 20px;
  margin-top: 20px;
}
form{
  margin-bottom: 100px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
textarea {
  width: 75%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.carousel-caption {
  position: static;
}
.red-social {
  margin: 0 10px;
  text-decoration: none;
}
button.carousel-control-prev:hover, button.carousel-control-next:hover{
  background: none;
}


